# Ignore all directories and files in the current directory
/*

# Allow list
!/.bashrc
!/.config
# !/.gitconfig
!/.gitignore
!/.hyper.js
!/.tmux.conf
!/.vim
!/.vimrc
!/.zshrc
!/Brewfile

# Ignore list
/.vim/autoload/plug.vim
/.vim/plugged/
