# Ignore all directories and files in the current directory
/*

# Allow list
!/.bash_profile
!/.bashrc
!/.config
# !/.gitconfig
!/.gitignore
!/.hushlogin
!/.hyper.js
!/.tmux.conf
!/.scripts
!/.vim
!/.vimrc
!/.zshrc
!/.zlogin
!/Brewfile

# Ignore list
/.vim/autoload/plug.vim
/.vim/plugged/
